.footer {
  margin-top: 40px;
  padding: 100px 0 25px;
}
.footer__wrapper{
  display: flex;
  margin-bottom: 60px;
}
.footer__info {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}
.footer-logo {
  max-width: 162px;
  margin-bottom: 20px;
}
.footer__info-text {
  margin-bottom: 30px;
  line-height: 170%;
  white-space: pre-line;
}
.footer__copyright{
  padding: 25px 0 0 0;
  text-align: center;
}
.footer__copyright-text{
  font-size: 15px;
  line-height: 170%;
  color: #888888;
}
